<!DOCTYPE html>
<html xml:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" type="text/css" th:href="@{/estilos.css}"/>
        <script src="/js/funciones.js"></script>
    </head>
    <body>
        <header th:replace="BarraNavPrincipal.html"></header>
        <div class="mt-4">
            <form action="/servicios/ActualizarSer" method="get"> 
                <div class="card">
                    <div th:each="temp: ${lista}">
                        <div class="card-header">
                            <h3>Módulo de Edición Servicio</h3>
                            <br>
                        </div>
                        <input type="hidden" name="paginaAnterior" th:value="${paginaAnterior}" />
                        <input <input type="text" name="id" th:value="${temp.id}" style="display:none;" required/>
                        <div class="card-body">

                            <div class="form-group">
                                <label>NOMBRE DEL SERVICIO</label>
                                <input type="text" name="nombreServicio" th:value="${temp.nombreServicio}" class="form-control" required>
                            </div>
                            <br>
                            <div class="form-group">
                                <label>DESCRIPCIÓN</label>
                                <input type="text" name="descripcion" th:value="${temp.descripcion}" class="form-control" required>
                            </div>
                            <br>
                            <div class="form-group">
                                <label>HORARIO</label>
                                <input type="text" name="horario" th:value="${temp.horario}" class="form-control" required>
                            </div>
                            <br>
                            <div class="form-group">
                                <label>PRECIO</label>
                                <input type="number" min="0" name="precio" th:value="${temp.precio}" class="form-control" required>
                            </div>
                            <br>
                            <div class="form-group">
                                <label>ENCARGADO</label>
                                <input type="text" pattern="[A-Za-z]+" name="encargado" th:value="${temp.encargado}" class="form-control" required>
                            </div>
                            <br>
                        </div>
                    </div>

                    <div class="card-footer">
                        <input class="btn btn-success" type="submit" value="Actualizar"/>
                    </div>
                    <div class="card-footer">
                        <input type="button" value="Cancelar" onclick="goBack()" class="btn btn-danger">
                    </div>

                </div>
            </form>
        </div>
        <!--PIE DE PAGINA-->

        <footer>
            Maizeth Cisneros-Pablo Espinoza-Juan Dolmus-Joaquin Cortes_Programacion IV-UNA
        </footer>

    </body>
</html>
