<!DOCTYPE html>
<html xml:th="http://www.thymeleaf.org">
    <head>
    <link rel="stylesheet" type="text/css" th:href="@{/estilos.css}"/>
    </head>
    <body>
        <header th:replace="BarraNavPrincipal.html"></header>
        <h1>Insertar Servicio Brindado</h1>
         <a href="./"><button type="button">Ir al Menu</button></a>
        <form action="/servicios/ActualizarSer" method="get"> 
            
            <div th:each="temp: ${lista}">
            <table>
                 <tr>
                    
                    <td><input type="text" name="id" th:value="${temp.id}" style="display:none;"/></td>
                </tr>
             <tr>
                    <td>Nombre del Servicio:</td>
                    <td><input type="text" name="nombreServicio" th:value="${temp.nombreServicio}"/></td>
                </tr>
                <tr>
                    <td>Descripcion:</td>
                    <td><input type="text" name="descripcion" th:value="${temp.descripcion}"/></td>
                </tr>
                  <tr>
                    <td>Horario:</td>
                    <td><input type="text" name="horario" th:value="${temp.horario}"/></td>
                </tr>
                <tr>
                    <td>Precio:</td>
                    <td><input type="text" name="precio" th:value="${temp.precio}"/></td>
                </tr>
                <tr>
                    <td>Encargado:</td>
                    <td><input type="text" name="encargado" th:value="${temp.encargado}"/></td>
                </tr>
               
            </table>
                
                </div>
            <input type="submit" value="Guardar" />
        </form>
    
    </body>
</html>
