<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Edición Cliente</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" th:href="@{/styles.css}"/>


    </head>
    <body>
        <header th:replace="BarraNavPrincipal.html"></header>

        <div class="mt-4">
            <form th:action="@{/clientes/guardarEdit}"  method="get">


                <div class="card">
                    <div class="card-header">
                        <h3>Módulo de Edición Cliente</h3>
                        <br>
                    </div>

                    <div class="card-body">

                        <input th:value="${id}" type="hidden" name="id" class="field" readonly="readonly"/><br />
                        <div class="form-group">
                            <label>NOMBRE</label>
                            <input th:value="${nombre}" type="text" name="nombre" class="form-control" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label>APELLIDO</label>
                            <input th:value="${apellido}" type="text" name="apellido" class="form-control" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label>CÉDULA</label>
                            <input th:value="${cedula}" type="number" name="cedula" class="form-control" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label>NÚMERO DE TELÉFONO</label>
                            <input th:value="${telefono}" type="number" name="telefono" class="form-control" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label>CORREO ELECTRÓNICO</label>
                            <input th:value="${correo}" type="email" name="correo" class="form-control" required>
                        </div>
                        <br>
                    </div>
                    <input type="submit" value="Editar" class="btn btn-success"/><br />
                </div>
            </form>
        </div>
    </body>
</html>