<!DOCTYPE html>

<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" th:href="@{/Styles.css}"/>

    </head>
    <body>
        <header>

        </header>

        <div class="nav-bag">

            <nav class="navegacionPrincipal contenedor">
                <a href="/clientes/menuCliente">Inicio</a>
                <a href="/clientes/listar">Cliente</a>
                <a href="/clientes/insertar">Registrar Clientes</a>
            </nav>
        </div>

    </body>
</html>
