<!DOCTYPE html>
<html xml:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Insertar Servicio Brindado</title>
         
        <link rel="stylesheet" type="text/css" th:href="@{/estilos.css}"/>
    </head>
    <body>
        <header th:replace="BarraNavPrincipal.html"></header>
        <h1>Insertar Servicio Brindado</h1>
        <a href="./"><button type="button">Ir al Menu</button></a>
        <form action="/servicios/guardarServicio" method="get"> 
            <table>
                <tr>
                    <td><input type="hidden" name="id" required/></td>
                </tr>
                <tr>
                    <td>Nombre del Servicio:</td>
                    <td><input type="text" name="nombreServicio" required/></td>
                </tr>
                <tr>
                    <td>Descripcion:</td>
                    <td><input type="text" name="descripcion" required/></td>
                </tr>
                <tr>
                    <td>Horario:</td>
                    <td><input type="text" name="horario" required/></td>
                </tr>
                <tr>
                    <td>Precio:</td>
                    <td><input type="text" name="precio" required/></td>
                </tr>
                <tr>
                    <td>Encargado:</td>
                    <td><input type="text" name="encargado" required/></td>
                </tr>
            </table>
            <input type="submit" value="Guardar" />
        </form>
                            <!--PIE DE PAGINA-->

                <footer>
                Maizeth Cisneros-Pablo Espinoza-Juan Dolmus-Joaquin Cortes_Programacion IV-UNA
                </footer>
    </body>
</html>