<!DOCTYPE html>
<html xml:th="http://www.thymeleaf.org">
    <head>
        <title>Lista Clientes</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="preload" href="css/styles.css" as="style">
        <link th:href="@{/css/pagination.css}" type="text/css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.9/dist/sweetalert2.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.9/dist/sweetalert2.min.css">
        <script src="/js/funciones.js"></script>
    </head>
    <body>
        <header th:replace="BarraNavPrincipal.html"></header>


        <a class="btn btn-primary" href="/clientes/insertar"><i class="fas fa-plus"></i> Registrar Clientes</a>


        <div th:if="${#lists.isEmpty(lista)}">
            <h2>La Empresa no posee Clientes actualmente!!</h2>
        </div>
        <div th:if="${!#lists.isEmpty(lista)}">

            <div class="contAgrupar">
                <form>
                    <label class="labelAgrupar">Agrupar de </label>
                    <input type="number" class="inputAgrupar" name="pageSize" min="1" value="1">
                    <button type="submit" class="buttonAgrupar"><i class="fas fa-eye"></i> Mostrar</button>
                </form>
            </div>
            <br>
            <div class="contenedor-formulario">
                <form id="myForm" action="/clientes/BuscarServicio/{nombre}" method="get">
                    <div class="contFiltro">
                        <input class="inputAgrupar" type="text" name="nombre" id="nombreInput" placeholder="Buscar por cliente" required>
                        <button class="buttonAgrupar" type="submit" id="submitButton"><i class="fas fa-search"></i></button>
                    </div>
                </form>
            </div>

            <script>
                const form = document.getElementById('myForm');
                const nombreInput = document.getElementById('nombreInput');
                const submitButton = document.getElementById('submitButton');
                submitButton.addEventListener('click', function (event) {
                    event.preventDefault();
                    const nombre = nombreInput.value;
                    form.action = "/clientes/BuscarServicio/" + nombre;
                    form.submit();
                });
            </script>

            <br>
            <div class="contLista">
                <table border="1" class="tbMode">
                    <thead>  
                        <tr class="trHead"> 
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Cedula</th>
                            <th>Telefono</th>
                            <th>Correo</th>
                            <th colspan="2">Acciones</th>


                        </tr>
                    </thead>

                    <tr class="trLista" th:each="temp :${lista}"> 
                        <td th:text="${temp.id_cliente}" type="hidden" name="id" class="field" readonly="readonly" style="display: none"></td>
                        <td th:text="${temp.nombre}"></td>
                        <td th:text="${temp.apellido}"></td>
                        <td th:text="${temp.cedula}"></td>
                        <td th:text="${temp.numeroTelefono}"></td>
                        <td th:text="${temp.correo}"></td>



                        <td>
                            <a class="btn btn-warning" href="#" th:if="${temp.id_cliente != null}" th:attr="onclick='editarCliente(parseInt(\'' + ${temp.id_cliente} + '\'), \'' + ${temp.nombre} + '\', \'' + ${temp.apellido} + '\', \'' + ${temp.cedula} + '\', \'' + ${temp.numeroTelefono} + '\', \'' + ${temp.correo} + '\')'"><i class="fas fa-edit"></i></a>
                        </td>

                        <td>
                            <a class="btn btn-danger" href="#" th:if="${temp.id_cliente != null}" th:attr="onclick='eliminarCliente(parseInt(\'' + ${temp.id_cliente} + '\'))'"><i class="fas fa-trash-alt"></i></a>
                        </td>





                    </tr>
                </table>
            </div>
            <div class="pagination">
                <ul>
                    <li th:if="${pageNumber > 1}" th:class="${pageNumber == 1 ? 'disabled' : ''}">
                        <a th:href="@{/clientes/listar?pageNumber=1&pageSize=}+${pageSize}">First Page</a>
                    </li>
                    <li th:if="${pageNumber > 1}" th:class="${pageNumber == 1 ? 'disabled' : ''}">
                        <a th:href="@{/clientes/listar?pageNumber=}+${pageNumber - 1}+'&pageSize='+${pageSize}">Previous</a>
                    </li>
                    <li th:each="page : ${#numbers.sequence(1, totalPages)}" th:class="${page == pageNumber ? 'active' : ''}">
                        <a th:href="@{/clientes/listar?pageNumber=}+${page}+'&pageSize='+${pageSize}" th:text="${page}"></a>
                    </li>
                    <li th:if="${pageNumber < totalPages}" th:class="${pageNumber == totalPages ? 'disabled' : ''}">
                        <a th:href="@{/clientes/listar?pageNumber=}+${pageNumber + 1}+'&pageSize='+${pageSize}">Next</a>
                    </li>
                    <li th:if="${pageNumber < totalPages}" th:class="${pageNumber == totalPages ? 'disabled' : ''}">
                        <a th:href="@{/clientes/listar?pageNumber=}+${totalPages}+'&pageSize='+${pageSize}">Last Page</a>
                    </li>
                </ul>
                <div>Page <span th:text="${pageNumber}"></span> of <span th:text="${totalPages}"></span></div>
            </div>
        </div>
        <!--PIE DE PAGINA-->

        <footer>
            Maizeth Cisneros-Pablo Espinoza-Juan Dolmus-Joaquin Cortes_Programacion IV-UNA
        </footer>

    </body>
</html>