<!DOCTYPE html>

<html xml:th="http://www.thymeleaf.org">
    <head>
        <title>Lista de Contactos de la Empresa</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preload" href="css/styles.css" as="style">
        <link th:href="@{/css/pagination.css}" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <script src="/js/funciones.js"></script>
    </head>
    <body>
        <header th:replace="BarraNavPrincipal.html"></header>
        <a th:href="@{/contactos/formGuardarContacto}" class="btn btn-primary"><i class="fas fa-plus"></i> Registrar Contacto</a>
        <!-- Sección de agrupación -->
        <div class="contAgrupar">
            <form>
                <label class="labelAgrupar">Agrupar de </label>
                <input type="number" class="inputAgrupar" name="pageSize" min="1" value="1">
                <button type="submit" class="buttonAgrupar"><i class="fas fa-eye"></i> Mostrar</button>
            </form>
        </div>
        <br>

        <div th:if="${#lists.isEmpty(contactos)}">
            <h2>La Empresa no posee contactos actualmente!!</h2>
        </div>
        <div th:if="${!#lists.isEmpty(contactos)}">
            <div class="contLista">
                <table class="tbMode" >
                    <thead>
                        <tr class="trHead">
                            <th>Numero Whatsapp</th>
                            <th>Numero Telefono</th>
                            <th>Facebook</th>
                            <th>Correo</th>
                            <th>Instagram</th>
                            <th colspan="2">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="trLista" th:each="c:${contactos}">
                            <td th:text="${c.numeroWhatsapp}"></td>
                            <td th:text="${c.numeroTelefono}"></td>
                            <td th:text="${c.facebook}"></td>
                            <td>
                                <span th:text="${c.correo}" id="correo-${
                                          c.id
                                      }"></span>
                            </td>
                            <td th:text="${c.instagram}"></td>
                            <td>
                                <a th:href="@{/contactos/editar/}+${c.id}" class="btn btn-warning" onclick="return confirm('¿Está seguro de que desea editar el registro?')"><i class="fas fa-edit"></i></a>
                            </td>
                            <td>
                                <a th:href="@{/contactos/delete/{id}(id=${c.id})}" class="btn btn-danger" onclick="return confirm('¿Está seguro de que desea eliminar el registro?'); goBack()"><i class="fas fa-trash-alt"></i></a>
                            </td>

                        </tr>
                    </tbody>

                </table>
                <br>
            </div>
        </div>
        <div class="pagination">
            <ul>
                <li th:if="${pageNumber > 1}" th:class="${pageNumber == 1 ? 'disabled' : ''}">
                    <a th:href="@{/contactos/listaContactos?pageNumber=1&pageSize=}+${pageSize}">First Page</a>
                </li>
                <li th:if="${pageNumber > 1}" th:class="${pageNumber == 1 ? 'disabled' : ''}">
                    <a th:href="@{/contactos/listaContactos?pageNumber=}+${pageNumber - 1}+'&pageSize='+${pageSize}">Previous</a>
                </li>
                <li th:each="page : ${#numbers.sequence(1, totalPages)}" th:class="${page == pageNumber ? 'active' : ''}">
                    <a th:href="@{/contactos/listaContactos?pageNumber=}+${page}+'&pageSize='+${pageSize}" th:text="${page}"></a>
                </li>
                <li th:if="${pageNumber < totalPages}" th:class="${pageNumber == totalPages ? 'disabled' : ''}">
                    <a th:href="@{/contactos/listaContactos?pageNumber=}+${pageNumber + 1}+'&pageSize='+${pageSize}">Next</a>
                </li>
                <li th:if="${pageNumber < totalPages}" th:class="${pageNumber == totalPages ? 'disabled' : ''}">
                    <a th:href="@{/contactos/listaContactos?pageNumber=}+${totalPages}+'&pageSize='+${pageSize}">Last Page</a>
                </li>
            </ul>
            <div>Page <span th:text="${pageNumber}"></span> of <span th:text="${totalPages}"></span></div>

        </div>
        <!--PIE DE PAGINA-->

        <footer>
            Maizeth Cisneros-Pablo Espinoza-Juan Dolmus-Joaquin Cortes_Programacion IV-UNA
        </footer>
        <script>
            // Obtener los elementos <span> con las fechas
            var fechas = document.querySelectorAll('[id^="fecha-"]');

            // Recorrer cada elemento y formatear la fecha en formato numérico
            fechas.forEach(function (elemento) {
                var fecha = new Date(elemento.textContent);
                var fechaFormateada = fecha.getDate() + '/' + (fecha.getMonth() + 1) + '/' + fecha.getFullYear();
                elemento.textContent = fechaFormateada;
            });
        </script>
    </body>
</html>
