<!DOCTYPE html>
<html xml:th="http://www.thymeleaf.org">
    <head>
        <title>Lista Servicios</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" th:href="@{/styles.css}"/>
        <link th:href="@{/css/pagination.css}" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    </head>
    <script src="/js/funciones.js"></script>
    <body>
        <header th:replace="BarraNavPrincipal.html"></header>

        <a class="btn btn-primary" href="/servicios/insertarServicios"><i class="fas fa-plus"></i> Registrar Servicio</a>


        <div th:if="${#lists.isEmpty(servicios)}">
            <p>No hay datos disponibles.</p>
        </div>
        <div th:if="${not #lists.isEmpty(servicios)}">
         
            <!-- Sección de agrupación -->
            <div class="contAgrupar">
                <form>
                    <label class="labelAgrupar">Agrupar de </label>
                    <input type="number" class="inputAgrupar" name="pageSize" min="1" value="2">
                    <button type="submit" class="buttonAgrupar"><i class="fas fa-eye"></i> Mostrar</button>
                </form>
            </div>
            <br>
            
            <form id="myForm" action="/servicios/BuscarServicio/{nombre}" method="get">
    <input type="text" name="nombre" id="nombreInput">
    <button type="submit" id="submitButton">Buscar Por Nombre de Servicio</button>
    
    
</form>

<script>
    const form = document.getElementById('myForm');
    const nombreInput = document.getElementById('nombreInput');
    const submitButton = document.getElementById('submitButton');
    
    submitButton.addEventListener('click', function(event) {
        event.preventDefault();

        const nombre = nombreInput.value;

        form.action = "/servicios/BuscarServicio/" + nombre;

        form.submit();
    });
</script>
            
            
            
            
            
            
            <div class="contLista">
                <table border="1" class="tbMode">
                    <tr class="trHead">
                        <th>Nombre Servicio</th>
                        <th>Descripcion</th>
                        <th>Horario</th>
                        <th>Precio</th>
                        <th>Encargado</th>
                        <th colspan="2">Acciones</th>
                    </tr>
                    <tr class="trLista" th:each="temp:${servicios}">
                        <td th:text="${temp.id}" style="display:none;"></td>
                        <td th:text="${temp.nombreServicio}"></td>
                        <td th:text="${temp.descripcion}"></td>
                        <td th:text="${temp.horario}"></td>
                        <td th:text="'&#8353;'+${temp.precio}"></td>
                        <td th:text="${temp.encargado}"></td>
                        <td>
                            <a th:href="@{/servicios/actualizarServicio/}+${temp.id}" class="btn btn-warning" onclick="return confirm('¿Está seguro de que desea editar el registro?')"><i class="fas fa-edit"></i></a>
                        </td>
                        <td>
                            <a th:href="@{/servicios/eliminarServicio?id=} + ${temp.id}" class="btn btn-danger" onclick="return confirm('¿Está seguro de eliminar el registro?'); goBack()"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="pagination">
                <ul>
                    <li th:if="${pageNumber > 1}" th:class="${pageNumber == 1 ? 'disabled' : ''}">
                        <a th:href="@{/servicios?pageNumber=1&pageSize=}+${pageSize}">First Page</a>
                    </li>
                    <li th:if="${pageNumber > 1}" th:class="${pageNumber == 1 ? 'disabled' : ''}">
                        <a th:href="@{/servicios?pageNumber=}+${pageNumber - 1}+'&pageSize='+${pageSize}">Previous</a>
                    </li>
                    <li th:each="page : ${#numbers.sequence(1, totalPages)}" th:class="${page == pageNumber ? 'active' : ''}">
                        <a th:href="@{/servicios?pageNumber=}+${page}+'&pageSize='+${pageSize}" th:text="${page}"></a>
                    </li>
                    <li th:if="${pageNumber < totalPages}" th:class="${pageNumber == totalPages ? 'disabled' : ''}">
                        <a th:href="@{/servicios?pageNumber=}+${pageNumber + 1}+'&pageSize='+${pageSize}">Next</a>
                    </li>
                    <li th:if="${pageNumber < totalPages}" th:class="${pageNumber == totalPages ? 'disabled' : ''}">
                        <a th:href="@{/servicios?pageNumber=}+${totalPages}+'&pageSize='+${pageSize}">Last Page</a>
                    </li>
                </ul>
                <div>Page <span th:text="${pageNumber}"></span> of <span th:text="${totalPages}"></span></div>

            </div>
        </div>
        <!--PIE DE PAGINA-->

        <footer>
            Maizeth Cisneros-Pablo Espinoza-Juan Dolmus-Joaquin Cortes_Programacion IV-UNA
        </footer>

    </body>
</html>
