body{
    margin: 0;
    padding: 0;
    background: url(../imagenes/fondo.jpeg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}

.container{
    width: 320px;
    height: 450px;
    background: #0e314f;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.container .avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.container h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.container label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.container select{
    border: none;
    outline: none;
    background: #33ccff;
    font-size: 16px;
    border-radius: 20px;
}

.container select:hover{
    --background: #99ff99;
}

.container input{
    width: 100%;
    margin-bottom: 20px;
}

.container input[type="text"], .container input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.container input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #dc3545;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.container input[type="submit"]:hover{
    cursor: pointer;
    background: #fff;
    color: #000;
}

.container a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}

.container a:hover{
    color: #dc3545;
}