:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;

}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    --width: 100%;
    --height: 100vh;
    /* 1rem = 10px*/
    font-family: 'Krub', sans-serif;
    background-color: #666666;
}


.contenedor {

    max-width: 120rem;
    margin: 0 auto;/*Definiendo los márgenes del contenedor*/
}

.nav-bg {
    background-color: var(--secundario);
    display: flex;
}

.img{
    border:5px solid transparent;
    border-radius: 1rem;
    width: 10rem;
    display: inline-block;
    vertical-align: middle;
}

.navegacion-principal {
    flex-grow: 1;
    display: inline-block;
    flex-direction: column;
    margin-top: 2.5rem;
    text-align: center;
    justify-content: space-between;
}

@media (min-width: 768px) {/* Dimensiones para una tablet*/
    .navegacion-principal {
        flex-direction: row;
    }
}

.navegacion-principal a {
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 2rem;
}

.navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}



.container{
    background-color: antiquewhite;
    display: inline-block;
}

.syleth1{
    background-color: #0e314f;
    position: relative;
    padding: 2rem;
    color: white;
    margin: 5px;
}

.fset{
    border-radius: 3px;
    border: 3px solid lightblue;
}

.formularioInit{
    width: 20rem;
    text-align: left;
}
input[type=text], input[type=password] {

    padding: 0 0.6rem;
    min-height: 25px;
    min-width:  100%;
    text-align: center;
}



.menu{
    list-style: none;
    background: #092327;
    width: 200px;
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

.menu li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}

.menu li{
    display: flex;
    text-align: center;
}

.menu li a:hover{
    background: #ef8354;
}
/*
div {
    width: 100%;
    display: grid;
    place-content: center;
    background-color: #ff9999;
}*/



h2{
    background-color: #00ff66;
    text-align: center;
    color:#092327;
}

.contLista{
    display: grid;
    border: 5px outset transparent;
    --background-color: #ffcccc;
    place-content: center;
    text-align: center;

}

.tbMode{
    --background-color: #ffcccc;
    --border: 2px solid black;
    border-radius: 10px;
    border-color: #212121;
    border-spacing: 7px;
    border-bottom: 1px solid #fff;

    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.tbMode .trHead{
    border-bottom: 10px solid transparent;
    background-color: #343a40;
    color: #fff;

}

.trHead th{
    text-align: center;
    padding-right: 10px;
    border-bottom: 10px solid transparent;
}

tr{
    border-bottom: 4px solid transparent;
    padding-right: 10px;
}
td{
    border-bottom: 4px solid transparent;
    border: 1px solid black;
    padding: 8px;
}


.trLista:nth-child(even) {
    background-color: #f2f2f2;
}

.trLista:nth-child(odd) {
    background-color: #fff;
}

.btn{

    text-decoration: none;
    color: #ffffff;
    border-radius: 5px;
    border: 3.5px solid transparent;

}
.btn-danger {
    background-color: #dc3545;
}

.btn-primary {
    margin-left: 50%;
    place-content: center;
    text-align: right;
    width: max-content;
    background-color: #0d6efd;
    cursor: pointer;
    transition: .3s ease all;
    cursor: pointer;
}

.btn-primary:hover {
    background: lightblue;
    color: black;
}

.btn-warning{
    background-color: #FFC107;
}

.btn-success{
    background-color: #198754;
}



.mt-4{
    display: grid;
    place-content: center;
    text-align: center;
    margin-top: 1.5rem;
    border-radius: 5px;
    background-color: #fff1f1;
    border: 2px solid black;
    border: 3px solid transparent;
}

.mt-4 .card{
    position: relative;
    display: flex;
    flex-direction: column;
    width: auto;
}


.mt-4 .card .form-control{
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
    width: auto;
    border-radius: 5px;
    border: 2px solid lightblue;
    margin: 2px;
}

.mt-4 select{
    border: 3px solid lightblue;
    outline: none;
    font-size: 16px;
    border-radius: 20px;
}

.contAgrupar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.labelAgrupar {
    margin-right: 10px;
}

.inputAgrupar {
    width: 50px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 10px;
}

.buttonAgrupar {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.buttonAgrupar:hover {
    background-color: #0069d9;
}

footer{
    margin-top: 555px;
    text-align: center;
    padding: 20px;
    background-color: black;
    color: white; 
    
} 