body{
    background-color: #003366;
}
/* Estilo para el botón "Nuevo" */
.btn-primary {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
  border-radius: 5px;
  padding: 5px 10px;
}

/* Estilo para la tabla de empleados */
.tbMode {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

/* Estilo para las filas de la tabla */
.trHead {
  background-color: #343a40;
  color: #fff;
  text-align: center;
}

.trLista:nth-child(even) {
  background-color: #f2f2f2;
}

.trLista:nth-child(odd) {
  background-color: #fff;
}

/* Estilo para los botones de "Editar" y "Eliminar" */
.btn-warning {
  background-color: #ffc107;
  color: #fff;
  border-color: #ffc107;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 5px;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
  border-color: #dc3545;
  border-radius: 5px;
  padding: 5px 10px;
}
